.classification-wrapper {
  margin: 0 auto;
  text-align: center;
}

.predictions {
  width: 200px;
  margin: 0 auto;
}

.large {
  font-size: 30px;
}

.uncertainty-indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: block;
}
