.class-card {
  position: relative;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  min-width: 250px;
  text-align: left;
}

.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.expand-btn {
  position: absolute;
  bottom: 5px;
  text-align: center;
  cursor: pointer;
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.small-width {
  width: 140px;
}
