<div class="canvas-box">
  <canvas #canvas [width]="width" [height]="height"></canvas>
  <div>
    <button type="button" (click)="clear()" class="btn btn-primary">Clear</button>
    <button type="button" (click)="emitContent()" class="btn btn-success right" *ngIf="!autoemit">Classify</button>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="auto-send" [(ngModel)]="autoemit">
      <label class="form-check-label" for="auto-send">Classify automatically</label>
    </div>
  </div>
</div>
