<div class="row" *ngIf="!modelLoading">
  <div class="col-md-auto">
    <app-canvas (imageChange)="predictClass($event)"
      [width]="224" [height]="224" (cleared)="cleared()">
    </app-canvas>
  </div>
  <div class="col">
    <app-classification
      [classes]="classes"
      [predictions]="predictions"
      [loading]="loading"
      (correct)="correctSelected($event)"
      (reloadClasses)="reloadClasses()">
    </app-classification>
  </div>
</div>

<div class="row" *ngIf="modelLoading">
  <i class="fa fa-spinner large fa-spin center center-text"></i>
</div>
